section{
    height: 190vh !important;
}
.projects_container{
    display:grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 2.5rem;
    margin-left: 6rem;
  
}
.credentials{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-light);
}

.description{
    margin-bottom: 1.5rem;
}



.project_item{
    background-color: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    margin-right: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.project_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.project_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.project_item h3{
    margin: 1.2rem 0 1rem;
}

.project_item-link{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    
}

@media screen and (max-width:2560px){
    .skills_container{
        grid-template-columns: repeat(5 ,2fr);
        gap:7rem;
    }

}

@media screen and (max-width:1024px){
    .skills_container{
        grid-template-columns:1fr 1fr ;
        gap:3rem;
      
    }
   
     
  } 
 
  /*=============Mediaqueries- (small devices)================================*/
   @media screen and (max-width:600px){
    .projects_container{
        grid-template-columns:  1fr;
        gap:1rem;
        margin:0;
      
    }
    section{
        padding-bottom: 200rem;
        height:250vh;
    }

  
  
  }